@import url("proof.css");

@charset "UTF-8";

html {
	font-size: 10pt;
}

body {
	font-family: "Times New Roman", Times, serif;
	line-height: 1.9;
	font-size: 1.2rem;
	font-variant: normal;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	hyphens: none;
	counter-reset: section_id figure_id table_id code_id appendix_id;
}

#font-test {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	line-height: 1;
	font-size: 1rem;
	font-variant: normal;
	font-weight: normal;
}

a {
	color: black;
	text-decoration: none;
}

img {
	display: table-cell;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	width: 100%;
	vertical-align: top;
}

.print-only {
	display: initial;
	position: relative;
}

.web-only {
	display: none;
	position: absolute;
}

.code-block {
	display: block;
	page-break-inside: avoid;
	break-inside: avoid;
	text-align: center;
	white-space: nowrap;
}

.toc-page {
	float: right;
}
.toc-def {
	float: right;
}
.toc-elem {
	display: block;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	/*background-image: radial-gradient(circle at center, #000 0.9px, rgba(255,255,255,0) 1.8px);
	background-position: bottom;
	background-size: 0.4rem 0.74rem;
	background-repeat: repeat-x;*/
}
.toc-elem div {
	vertical-align: top;
	display: inline-block;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	max-width: 80%;
}

#table-of-contents > ol > li > .toc-elem {
	border-bottom: 1px solid #000000;
	font-weight: bold;
}


code {
	display: inline;
	font-family: Courier, monospace;
	text-align: left;
	white-space: pre-wrap;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

pre {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	display: block;
	break-inside: avoid;
	page-break-inside: avoid;
	font-size: 1.0rem;
	max-width: 100%;
	padding: 0.25rem 0.25rem 0.25rem 0.25rem;
	counter-increment: code_id;
	vertical-align: top;
}

figure {
	display: table;
	page-break-inside: avoid;
	break-inside: avoid;
	border-collapse: collapse;
	border-spacing: 0px;	
	margin: 0.5rem auto 0.5rem auto;
	text-align: center;
	white-space: nowrap;
}

figure figcaption:first-of-type {
	counter-increment: figure_id;
}

figcaption {
	font: inherit;
	display: table-caption;
	caption-side: bottom;
	white-space: normal;
	text-align: left;
	line-height: 1.0;
	font-size: 1.0rem;
	font-weight: normal;
	margin: 0 0 0.4rem 0;
}

figcaption::before {
	content: "Fig. " counter(figure_id) ": ";
}

table {
	page-break-inside: avoid;
	break-inside: avoid;
	font-size: 0.8rem; 
	border-collapse: collapse;
	border-spacing: 0px;	
	margin: 0.25rem auto 0.5rem auto;
}

thead,tfoot { display: table-row-group; }

.tsep {
	border-bottom: 1px solid #000;
}

tr.shade {
	background-color: #EEEEEE;
}

tr .red {
	background-color: #FFEEEE;
}

tr .blue {
	background-color: #EEEEFF;
}

th {
	font-weight: bold;
}

thead > :last-child {
	border-bottom: 3px solid black;
}

table.lined td {
	border-bottom: 1px solid black;
}

th code {
	font-weight: normal;
}

th,
td {
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
	border-spacing: 0px;	
	margin: 0 0 0 0;
	padding: 0.1rem 0.2rem 0.1rem 0.2rem;
	text-align: center;
	white-space: nowrap;
}

table caption:first-of-type {
	counter-increment: table_id;
}

table caption {
	font: inherit;
	caption-side: bottom;
	text-align: left;
	font-size: 1.0rem;
	font-weight: normal;
	line-height: 1.0;
	margin: 0 0 0.4rem 0;
}

table caption::before {
	content: "Table " counter(table_id) ". ";
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.9;
	font-size: 1.2rem;
	font-family: "Times New Roman", Times, serif;
	font-variant: normal;
	font-weight: normal;
	text-align: left;
	text-justify: none;
	break-after: avoid;
	hyphens: none;
}

h1 {
	text-transform: uppercase;
	margin: 0 0 2rem 0;
	text-align: center;
}

h2 {
	font-weight: bold;
	font-style: italic;
	margin: 0.1rem 0 0.1rem 0;
}

h3 {
	text-indent: 1.5rem;
	font-style: italic;
	margin: 0.1rem 0 0.1rem 0; 
}

h4 {
	text-indent: 2.25rem;
	font-style: italic;
	margin: 0.1rem 0 0.1rem 0; 
}

h5 {
	font-variant: small-caps;
	margin: 0.1rem 0 0.1rem 0;
	text-align: center;
}

h6 {
	font-style: italic;
	margin: 0.025rem 0 0.025rem 0;
}

section.cover {
	padding-top: 1in;
	padding-bottom: 1in;
	text-align: center;
}

section.cover p {
	text-align: center;
}

section { counter-reset: subsection_id; }
subsection { counter-reset: subsubsection_id; }
section:not(.counter-skip) { counter-increment: section_id; }
section.appendix:not(.counter-skip) { counter-increment: appendix_id; }
subsection:not(.counter-skip) { counter-increment: subsection_id; }
subsubsection:not(.counter-skip) { counter-increment: subsubsection_id; }

section:not(.counter-skip) h1::before {
	display: block;
	margin-bottom: 1.0rem;
	text-transform: uppercase;
	line-height: 1.9;
	font-size: 1.2rem;
	font-variant: normal;
	content: "Chapter " counter(section_id, decimal); 
}

section.appendix:not(.counter-skip) h1::before {
	display: block;
	margin-bottom: 1.0rem;
	text-transform: uppercase;
	line-height: 1.9;
	font-size: 1.2rem;
	font-variant: normal;
	content: "Appendix " counter(appendix_id, upper-alpha); 
}

.counter-skip:not(.cover) { padding-top: 0; }
.counter-skip h1::before {
	content: "" !important;
}

h2::before {
	margin-right: 1rem;
	content: counter(section_id) "." counter(subsection_id);
}

h3::before {
	margin-right: 1rem;
	content: counter(section_id) "." counter(subsection_id) "." counter(subsubsection_id);
}

.appendix h2::before {
	content: counter(appendix_id, upper-alpha) "." counter(subsection_id);
}

.appendix h3::before {
	margin-right: 1rem;
	content: counter(appendix_id, upper-alpha) "." counter(subsection_id) "." counter(subsubsection_id);
}

h1 + h2,
h1 + * > h2:first-child {
	margin-top: 0.2rem; }

p {
	text-align: justify;
	line-height: 1.5;
	margin: 0 0 0.3rem 0;
	text-indent: 1.5rem;
	font-size: 1.2rem;
}

li p {
	text-indent: 0;
}

q::before { content: '“'; }
q::after { content: '”'; }
q > q::before { content: '‘'; }
q > q::after { content: '’'; }

small { font-size: 0.8rem; }

@page {
	size: 8.5in 11in;
	/*margin: 0in 0in 0in 0in;*/
	margin: 1.0in 1.0in 1.0in 1.0in;

	@bottom {
		content: counter(page);
	}
}

@media print {
	section {
		margin: 0 0 0 0;
		page-break-after: always;
	}
	section.cover:not(.page-skip) {
		padding-top: 4in;
		padding-bottom: 0;
	}
	section.page-skip.cover {
		padding-top: 4in;
		padding-bottom: 0;
	}
	section#dedication {
		padding-top: 3in;
	}
	body {
		display: table;
		table-layout: fixed;
		height: auto;
	}
	header { display: table-header-group; }
	article { display: table-row-group; }
  footer {
		page-break-before: avoid;
		page-break-inside: avoid;
		display: table-footer-group;
		height: 0.25in;
		text-align: center;
		font-size: 1.2rem;
  }
	/*footer::after {
		page-break-before: avoid;
		page-break-inside: avoid;
		content: counter(page);
		counter-increment: page;
	}*/

	.toc-page {
		content: target-counter(attr(xref), page);
	}

	.full-page-90 {
		display: block;
		position: relative;
		width: 100%;
		height: 1px;
		page-break-before: always;
		page-break-inside: avoid;
		page-break-after: always;
	}

	.full-page-90 table,
	.full-page-90 figure {
		-moz-transform: translate(-0.75in,2in) rotate(-90.0deg);
		-o-transform: translate(-0.75in,2in) rotate(-90.0deg);
		-webkit-transform: translate(-0.75in,2in) rotate(-90.0deg);
		position: absolute;
	}

	table,
	figure {
		float-reference: page;
		float: top;
	}
}

.cites > :not(:first-child)::before {
	content: none; }

.cites > :not(:last-child)::after {
	content: ", "; }

.col-1 { column-count: 1; }
.col-2 { column-count: 2; }
.col-3 { column-count: 3; }
.col-4 { column-count: 4; }
.col-span { column-span: all; }
.col-break-after { break-after: always; }
.col-break-before { break-after: always; }

.page-break-after { page-break-after: always; }
.page-break-before { page-break-after: always; }

ul {
	text-align: justify;
	line-height: 1.2;
	margin: 0 0 0.25rem 0;
	padding-left: 1.25rem;
}

ul ul {
	margin: 0 0 0 0;
}

ol {
	text-align: justify;
	line-height: 1.5;
	list-style: decimal outside none;
	font-size: 1.2rem;
	margin: 0 0 0.25rem 0;
	padding-left: 2.5rem;
}

ol ol {
	list-style: decimal outside none;
	font-size: 1.2rem;
	margin: 0 0 0 0;
}

ol li.skip {
	list-style-type:none;
	counter-increment:none;
}

ol li.appendix {
	list-style: upper-alpha outside none;
}

#references h2::before {
	content: "R." counter(subsection_id);
}

#references h3::before {
	margin-right: 1rem;
	content: "R." counter(subsection_id) "." counter(subsubsection_id);
}

.title {
	text-align: center;
	text-transform: uppercase;
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 14.6rem; }

.subtitle {
	text-align: center;
	margin-bottom: 14.0rem;
}

.author {
	text-align: center;
}

.equation {
	margin: 1.2rem 0 0.8rem;
	text-align: center; }
	.equation:not(.displaymath) {
	counter-increment: equation;
	position: relative; }
	.equation:not(.displaymath)::after {
	bottom: 50%;
	content: "(" counter(equation) ")";
	line-height: 0;
	position: absolute;
	right: 0;
	top: 50%; }

cite {
	display: table;
	position: relative;
	line-height: 1.5;
	font-style: normal;
	font-size: 1rem;
	text-align: justify;
	break-inside: avoid;
	width: 100%;
	margin: 0 0 0.3rem 0;
}

.cite-txt {
	display: table-cell;
	text-indent: 0;
	font-style: normal;
	font-size: 1rem;
	text-align: left;
}

.cite-ref {
	display: table-cell;
	text-indent: 0;
	width: 2.5rem;
	font-style: normal;
	font-size: 1rem;
	text-align: center;
}

abbr {
	border: none;
	text-decoration: none;
}

pre.language-prs,
code.language-prs {
	page-break-inside: auto;
	break-inside: auto;
}

